body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.search-link {
  position: sticky;
  bottom: 0;
  text-align: center;
  background: red;
  height: 50px;
  width: 50px;
  display: block;
  bottom: 1rem;
  float: right;
  border-radius: 50%;
  text-decoration: none;
}

.search-link::before {
  content: "+";
  color: white;
  vertical-align: -85%;
}

.search-input {
  width: 90%;
  border-radius: 10px;
  font-size: 18px;
  padding: 10px;
}
